@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p class="lead">
            Welcome to our cutting-edge employee management platform. Streamline your HR processes and optimize workforce management with EM.
        </p>
    </div>
</div>

