@{
    ViewData["Title"] = "Privacy Policy";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Your Website Name</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa;
            color: #495057;
        }

        h1 {
            color: #007bff;
        }

        p {
            font-size: 18px;
            line-height: 1.6;
        }

        footer {
            background-color: #343a40;
            color: #ffffff;
            padding: 15px 0;
            text-align: center;
        }
    </style>
</head>
<body>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h1>@ViewData["Title"]</h1>
                <p class="lead">
                    Thank you for choosing to explore our Privacy Policy. At EM, we value your trust and are committed to ensuring the security and confidentiality of your personal information. This page is designed to provide you with insights into how we collect, use, and protect your data.

                    Your privacy is of utmost importance to us, and we encourage you to review our policies to understand the steps we take to safeguard your information. If you have any questions or concerns, please feel free to reach out to our dedicated privacy team.

                    Once again, thank you for entrusting us with your information. We appreciate the opportunity to serve you and are dedicated to maintaining the highest standards of privacy and security.

                    Best regards,

                    EM
                </p>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-Jx85COOF1QZXIh72BRqN6zWH5CTtISw8eW+oOUjCAwkD+JELo4lXXm0qUpI5oWOl" crossorigin="anonymous"></script>


</body>
</html>
